<div class="container--center">

    <div class="container--table">
        <div class="container--title">
            <h1>Your todo list</h1>
            <mat-checkbox [(ngModel)]="showDone" (ngModelChange)="updateAllComplete()" class="example-margin" color="primary">Hide done todo's</mat-checkbox>
        </div>
        <table mat-table [dataSource]="displayTodos" class="table--todos mat-elevation-z8">

            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef> Id </th>
                <td mat-cell *matCellDef="let todo"> {{todo.id}} </td>
            </ng-container>

            <ng-container matColumnDef="description">    
                <th mat-header-cell *matHeaderCellDef>description</th>
                <td mat-cell *matCellDef="let todo">{{todo.description}} </td>
            </ng-container>

            <ng-container matColumnDef="done">    
                <th mat-header-cell *matHeaderCellDef>done</th>
                <td mat-cell *matCellDef="let todo">
                    <mat-checkbox (click)="updateSelected(todo)" class="example-margin" color="primary" [checked]="todo.done"></mat-checkbox>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

    </div>
</div>