<div class="container--form">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <h1>Login</h1>
        <mat-form-field class="example-full-width">
            <mat-label>Email</mat-label>
            <input id="email" formControlName="email" type="email" matInput placeholder="john@gmail.com" value="">
        </mat-form-field>  
        <mat-form-field class="example-full-width"> 
            <mat-label>password</mat-label>
            <input id="password" formControlName="password" type="password" matInput value="">
        </mat-form-field>
        <button mat-raised-button type="submit" color="primary">Login</button>
    </form>
    <a class="link" routerLink="/register">register an account</a>
</div>